<a href="https://colab.research.google.com/github/gustikresna/purwadhika-assignment/blob/main/Modul_3_Exercise_7_Standardizing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving wine_types.csv to wine_types.csv

In [ ]:
wine = pd.read_csv('wine_types.csv')
wine

     Type  Alcohol  Malic acid  ...   Hue  OD280/OD315 of diluted wines  Proline
0       1    14.23        1.71  ...  1.04                          3.92     1065
1       1    13.20        1.78  ...  1.05                          3.40     1050
2       1    13.16        2.36  ...  1.03                          3.17     1185
3       1    14.37        1.95  ...  0.86                          3.45     1480
4       1    13.24        2.59  ...  1.04                          2.93      735
..    ...      ...         ...  ...   ...                           ...      ...
173     3    13.71        5.65  ...  0.64                          1.74      740
174     3    13.40        3.91  ...  0.70                          1.56      750
175     3    13.27        4.28  ...  0.59                          1.56      835
176     3    13.17        2.59  ...  0.60                          1.62      840
177     3    14.13        4.10  ...  0.61                          1.60      560

[178 rows x 14 columns]

## Modeling without normalizing

Let's take a look at what might happen to your model's accuracy if you try to model data without doing some sort of standardization first. Here we have a subset of the wine dataset. One of the columns, Proline, has an extremely high variance compared to the other columns. This is an example of where a technique like log normalization would come in handy, which you'll learn about in the next section.

The scikit-learn model training process should be familiar to you at this point, so we won't go too in-depth with it. You already have a k-nearest neighbors model available (knn) as well as the X and y sets you need to fit and score on.

In [ ]:
# import KNeighborsClassifier and set K = 5

from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5)

In [ ]:
# make 'Proline', 'Total phenols', 'Hue', 'Nonflavanoid phenols' as data training and assign it as X
X = wine[['Proline', 'Total phenols', 'Hue', 'Nonflavanoid phenols']]
X

     Proline  Total phenols   Hue  Nonflavanoid phenols
0       1065           2.80  1.04                  0.28
1       1050           2.65  1.05                  0.26
2       1185           2.80  1.03                  0.30
3       1480           3.85  0.86                  0.24
4        735           2.80  1.04                  0.39
..       ...            ...   ...                   ...
173      740           1.68  0.64                  0.52
174      750           1.80  0.70                  0.43
175      835           1.59  0.59                  0.43
176      840           1.65  0.60                  0.53
177      560           2.05  0.61                  0.56

[178 rows x 4 columns]

In [ ]:
# make 'Type' as data training and assign it as y

y = wine['Type']
y

0      1
1      1
2      1
3      1
4      1
      ..
173    3
174    3
175    3
176    3
177    3
Name: Type, Length: 178, dtype: int64

In [ ]:
# Split up the X and y sets into training and test sets using train_test_split().
X_train, X_test, y_train, y_test = train_test_split(X, y)

# Use the knn model's fit() method on the X_train data and y_train labels, to fit the model to the data.
knn.fit(X_train, y_train)

# Score the model on the test data
print(knn.score(X_test, y_test))

0.7333333333333333

## Log normalization in Python

In [ ]:
# Print out the variance of the Proline column for reference.
print(wine['Proline'].var())

# Use the np.log() function on the Proline column to create a new, log-normalized column named Proline_log
wine['Proline_log'] = np.log(wine['Proline'])

# Check the variance of the normalized Proline column
print(wine['Proline_log'].var())

99166.71735542428
0.17231366191842018

## Scaling data - standardizing columns

In [ ]:
# Import StandardScaler from scikit-learn
from sklearn.preprocessing import StandardScaler

# Create the StandardScaler() method and store in a variable named ss.
ss = StandardScaler()

# Create a subset of the wine DataFrame of the Ash, Alcalinity of ash, and Magnesium columns, store in a variable named wine_subset.
wine_subset = wine[['Ash', 'Alcalinity of ash', 'Magnesium']]

# Apply the ss.fit_transform method to the wine_subset DataFrame.
wine_subset_scaled = ss.fit_transform(wine_subset)

## KNN on non-scaled data

Let's first take a look at the accuracy of a K-nearest neighbors model on the wine dataset without standardizing the data. The knn model as well as the X and y data and labels sets have been created already. Most of this process of creating models in scikit-learn should look familiar to you.

In [ ]:
# Split the dataset and labels into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

# Fit the k-nearest neighbors model to the training data
knn.fit(X_train, y_train)

# Score the model on the test data
print(knn.score(X_test, y_test))

0.7333333333333333

In [ ]:
# Create the StandardScaler() method, stored in a variable named ss.
ss = StandardScaler()

# Apply the scaling method to the dataset used for modeling.
X_scaled = ss.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y)

# Use the knn model's fit() method on the X_train data and y_train labels, to fit the model to the data.
knn.fit(X_train, y_train)

# Score the model on the test data.
print(knn.score(X_test, y_test))

0.9777777777777777