In [1]:
import mysql.connector
import pandas as pd

In [2]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = '',
    database = 'retrowheels'
)

In [3]:
mycursor = mydb.cursor()

In [9]:
#SOAL 1
query = 'select count(customernumber) as Customers, count(distinct(city)) as Cities, count(distinct(country)) as Countries from customers'
mycursor.execute(query)
result = mycursor.fetchall()
df1 = pd.DataFrame(result, columns = mycursor.column_names)
print(df1)

   Customers  Cities  Countries
0        122      95         27

In [8]:
#SOAL 2
query = 'select (select count(distinct(employeenumber)) from employees) as Employees,(select count(distinct(officecode)) from offices) as Offices, (select count(distinct(country)) from offices) as Country, (select count(distinct(productcode)) from products) as Products,(select sum(quantityinstock) from products) as StockProducts,(select count(distinct(productVendor)) from products) as Vendors'
mycursor.execute(query)
result = mycursor.fetchall()
df2 = pd.DataFrame(result, columns = mycursor.column_names)
print(df2)

   Employees  Offices  Country  Products StockProducts  Vendors
0         23        7        5       110        555131       13

In [10]:
#SOAL 3
query = 'select productline as productLine, min(buyprice) as minPrice, max(buyprice) as maxPrice from products group by productline'
mycursor.execute(query)
result = mycursor.fetchall()
df3 = pd.DataFrame(result, columns = mycursor.column_names)
print(df3)

        productLine minPrice maxPrice
0      Classic Cars    15.91   103.42
1       Motorcycles    24.14    91.02
2            Planes    29.34    77.27
3             Ships    33.30    82.34
4            Trains    26.72    67.56
5  Trucks and Buses    24.92    84.76
6      Vintage Cars    20.61    86.70

In [12]:
#SOAL 4
query = 'select customername, city, country, sum(amount) as total from customers, payments where customers.customernumber = payments.customernumber group by customers.customernumber order by total desc limit 10'
mycursor.execute(query)
result = mycursor.fetchall()
df4 = pd.DataFrame(result, columns = mycursor.column_names)
print(df4)

                   customername           city      country      total
0        Euro+ Shopping Channel         Madrid        Spain  715738.98
1  Mini Gifts Distributors Ltd.     San Rafael          USA  584188.24
2    Australian Collectors, Co.      Melbourne    Australia  180585.07
3            Muscle Machine Inc            NYC          USA  177913.95
4       Dragon Souveniers, Ltd.      Singapore    Singapore  156251.03
5    Down Under Souveniers, Inc     Auckland    New Zealand  154622.08
6                AV Stores, Co.     Manchester           UK  148410.09
7       Anna's Decorations, Ltd   North Sydney    Australia  137034.22
8      Corporate Gift Ideas Co.  San Francisco          USA  132340.78
9        Saveley & Henriot, Co.           Lyon       France  130305.35

In [15]:
#SOAL 5
query = 'select customers.customername, products.productname, orderdetails.quantityordered as quantityOrdered, orderdetails.priceeach as priceEach from orderdetails inner join orders on orderdetails.ordernumber = orders.ordernumber inner join products on orderdetails.productcode = products.productcode inner join customers on orders.customernumber = customers.customernumber inner join payments on customers.customernumber = payments.customernumber where payments.paymentdate = "2003-06-05" and orders.ordernumber = 10123'
mycursor.execute(query)
result = mycursor.fetchall()
df5 = pd.DataFrame(result, columns = mycursor.column_names)
print(df5)

        customername                     productname  quantityOrdered  \
0  Atelier graphique           1965 Aston Martin DB5               26
1  Atelier graphique    1999 Indy 500 Monte Carlo SS               46
2  Atelier graphique  1948 Porsche Type 356 Roadster               34
3  Atelier graphique       1966 Shelby Cobra 427 S/C               50

  priceEach
0    120.71
1    114.84
2    117.26
3     43.27